<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加图书</title>
</head>
<body>
    <form method="post" action="/bookstore/add_book">
        <p>
            <input type="text" name="title" placeholder="书名">
        </p>
        <p>
            <input type="text" name='pub' placeholder="出版社">
        </p>
        <p>
            <input type="text" name='price' placeholder="定价">
        </p>
        <p>
            <input type="text" name='market_price' placeholder="零售价">
        </p>
        <p>
            <input type="submit" value="添加">
        </p>
    </form>
</body>
</html>