<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>跨域测试</title>
</head>
<script src='/static/js/jquery-1.11.3.js'></script>
<script>
    $(function(){
        $('#btn').click(function(){
            // alert(11);
            $.ajax({
                url:'http://localhost:8000/test_cors_server',
                type:'GET',
                success:function(res){
                    alert(res);
                }
            })
        })
    })
</script>
<body>
<button id="btn">cors测试</button>
</body>
</html>