<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="/static/images/my_paramera.jpeg" alt="">
<img src="http://127.0.0.1:8000/static/images/my_AMGgt.jpeg" alt="">
<img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fp0.ifengimg.com%2Fpmop%2F2018%2F0420%2F33134EFA73EF8B4859058848DD9C0D4AA0A5870C_size492_w1620_h1080.jpeg&refer=http%3A%2F%2Fp0.ifengimg.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1612852520&t=7f3fa28da2654dbfa7f56e2b7ae7b573" alt="">
</body>
</html>