<!--menu begin-->
<!--
author:lvlu
date:2018-07
desc:this demo is about blog. PLEASE NOTE:If you have trouble running it ,try any of the other demos or connect with auther.
A ny individuals and organizations and not for commercial use, professiona website for customized web site.
-->
<div class="menu">
    <nav class="nav" id="topnav">
        <h1 class="logo"><a href="index.html">皮爷の博客</a></h1>
        <li><a href="index.html">网站首页</a> </li>
        <li><a href="list.html">文章列表</a>
            <ul class="sub-nav">
                    <li><a href="list.html">Python</a></li>
                    <li><a href="list.html">python Web</a></li>
                    <li><a href="list.html">爬虫</a></li>
                    <li><a href="list.html">人工智能</a></li>
                    <li><a href="list.html">JS实例索引</a></li>
            </ul>
        </li>
        <li><a href="photo.html">我的相册</a>
        </li>
        <li><a href="time.html">时间轴</a> </li>
        <li><a href="gbook.html">留言</a> </li>
        <!-- <li><a href="info.html">内容页</a> </li> -->
        <li><a href="about.html">关于我</a> </li>
        <!--search begin-->
        <!-- <div id="search_bar" class="search_bar">
        <form  id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
          <input class="input" placeholder="想搜点什么呢..." type="text" name="keyboard" id="keyboard">
          <input type="hidden" name="show" value="title" />
          <input type="hidden" name="tempid" value="1" />
          <input type="hidden" name="tbname" value="news">
          <input type="hidden" name="Submit" value="搜索" />
          <span class="search_ico"></span>
        </form>
      </div> -->
        <!--search end-->
    </nav>
</div>
<!--menu end-->
<!--mnav begin-->
<div id="mnav">
    <h2><a href="index.html" class="mlogo">皮爷の博客</a><span class="navicon"></span></h2>
    <dl class="list_dl">
        <dt class="list_dt"> <a href="index.html">网站首页</a> </dt>
        <dt class="list_dt"> <a href="#">文章列表</a> </dt>
        <dd class="list_dd">
            <ul>
                    <li><a href="list.html">Python</a></li>
                    <li><a href="list.html">python Web</a></li>
                    <li><a href="list.html">爬虫</a></li>
                    <li><a href="list.html">人工智能</a></li>
                    <li><a href="list.html">JS实例索引</a></li>
            </ul>
        </dd>
        <dt class="list_dt"> <a href="photo.html">我的相册</a> </dt>
        <dt class="list_dt"> <a href="time.html">时间轴</a> </dt>
        <dt class="list_dt"> <a href="gbook.html">留言</a> </dt>
        <dt class="list_dt"> <a href="about.html">关于我</a> </dt>
    </dl>
</div>
<!--mnav end-->
